{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Iniciar Sesión" %}{% endblock %}

{% block content %}
<div class="container">
    <h2>🔑 {% trans "Iniciar Sesión" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans "Iniciar Sesión" %}</button>
    </form>
    <p>{% trans "¿No tienes cuenta?" %} <a href="{% url 'registro' %}">{% trans "Regístrate aquí" %}</a></p>
</div>
{% endblock %}
