{% extends "base.html" %}
{% block title %}Registro - Tienda Gamer{% endblock %}

{% block content %}
<h2>📝 Registro de Usuario</h2>
<form method="post">
  {% csrf_token %}

  <div class="form-group">
    {{ form.username.label_tag }} {{ form.username }}
    {% for e in form.username.errors %}<div class="text-danger">{{ e }}</div>{% endfor %}
  </div>

  <div class="form-group">
    {{ form.password1.label_tag }} {{ form.password1 }}
    {% for e in form.password1.errors %}<div class="text-danger">{{ e }}</div>{% endfor %}
  </div>

  <div class="form-group">
    {{ form.password2.label_tag }} {{ form.password2 }}
    {% for e in form.password2.errors %}<div class="text-danger">{{ e }}</div>{% endfor %}
  </div>

  <div class="form-group">
    {{ form.direccion.label_tag }} {{ form.direccion }}
    {% for e in form.direccion.errors %}<div class="text-danger">{{ e }}</div>{% endfor %}
  </div>

  <div class="form-group">
    {{ form.pais.label_tag }} {{ form.pais }}
    {% for e in form.pais.errors %}<div class="text-danger">{{ e }}</div>{% endfor %}
  </div>

  <div class="form-group">
    {{ form.municipio.label_tag }} {{ form.municipio }}
    {% for e in form.municipio.errors %}<div class="text-danger">{{ e }}</div>{% endfor %}
  </div>

  <div class="form-group">
    {{ form.ciudad.label_tag }} {{ form.ciudad }}
    {% for e in form.ciudad.errors %}<div class="text-danger">{{ e }}</div>{% endfor %}
  </div>

  <button type="submit" class="btn btn-success mt-2">Registrarse</button>
</form>


<p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
{% endblock %}
